---
layout: default
---
<div class="container">
    <div class="row">
        {% for post in paginator.posts%}
        <div class="col s6 m4 l4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ post.cover-url }}">
                </div>
                <div class="card-content center-align">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a>
                </div>
                <div class="card-action right-align">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="more-link right-align">
                        Detalhes <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
                <div class="card-reveal">
                    <span class="card-title">{{ post.title }}<i class="right fa fa-times"></i></span>
                    <ul style="margin-left: 2px;">
                        <li><i class="fa fa-calendar"></i> {{ post.date | date: "%Y-%m-%d" }}</li>
                        <li><i class="fa fa-map"></i> <a href="{{ post.location_url }}">{{ post.location }}</a></li>
                        <li><i class="fa fa-envira"></i> Café {{ post.coffee }}</li>
                        <li>{{ post.price }}</li>
                        <li>
                            {% for i in (1..post.rate)  %}
                            <i class="fa fa-star"></i>
                            {% endfor %}
                            {% assign n = (post.rate | floor) %}
                            {% assign p = (post.rate | minus:n) %}
                            {% if p != 0 %}
                            <i class="fa fa-star-half-o"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s4 m2 l1 offset-s8 offset-m10 offset-l11">
            <ul class="pagination">
                {% if paginator.previous_page %}
                <li>
                    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li>
                    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
