---
layout: default
---
<div class="container">
    <div class="row">
        {% for post in paginator.posts%}
        <div class="col s6 m4 l4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ post.cover-url }}">
                </div>

                <div class="card-content">
                    <spam class="post-link">
                        <spam class="activator">{{ post.title }}</spam>
                        <spam class="right">
                            <a class="btn-floating btn-small waves-effect waves-light brown" href="{{ post.url | prepend: site.baseurl }}">
                                <i class="fa fa-info"></i>
                            </a>
                        </spam>
                    </spam>
                </div>
                <div class="card-reveal">
                    <span class="card-title">#{{ post.sequence }} {{ post.title }}<i class="right fa fa-times"></i></span>
                    <ul style="margin-left: 2px;">
                        <li>
                            {% if post.rate == 0.5 %}
                            {% include 0.5-stars.html %}
                            {% elsif post.rate == 1 %}
                            {% include 1.0-stars.html %}
                            {% elsif post.rate == 1.5 %}
                            {% include 1.5-stars.html %}
                            {% elsif post.rate == 2 %}
                            {% include 2.0-stars.html %}
                            {% elsif post.rate == 2.5 %}
                            {% include 2.5-stars.html %}
                            {% elsif post.rate == 3 %}
                            {% include 3.0-stars.html %}
                            {% elsif post.rate == 3.5 %}
                            {% include 3.5-stars.html %}
                            {% elsif post.rate == 4 %}
                            {% include 4.0-stars.html %}
                            {% elsif post.rate == 4.5 %}
                            {% include 4.5-stars.html %}
                            {% elsif post.rate == 5 %}
                            {% include 5.0-stars.html %}
                            {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i> {{ post.date | date: "%Y-%m-%d" }}
                        </li>
                        <li>
                            <i class="fa fa-map"></i> <a href="{{ post.location_url }}">{{ post.location }}. {{post.city}}/{{post.state}}</a>
                        </li>
                        <li>
                            <i class="fa fa-envira"></i> Café {{ post.coffee }}
                        </li>
                        <li>
                            <i class="fa fa-credit-card"></i> {{ post.price }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s4 m2 l1 offset-s8 offset-m10 offset-l11">
            <ul class="pagination">
                {% if paginator.previous_page %}
                <li>
                    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li>
                    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
