@charset "UTF-8";

@import "../vendor/Materialize/sass/components/color";
@import "../vendor/Materialize/sass/components/normalize";

$base-font-family: "Abel", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #fff;
$background-color: color("grey","darken-4");
$brand-color: #fff;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
$primary-color: color("brown", "darken-4") ;
$primary-color-light: lighten($primary-color, 15%) ;
$primary-color-dark: darken($primary-color, 15%) ;
$secondary-color: color("brown", "darken-3") ;
$success-color: color("grey", "base") ;
$error-color: color("red", "base") ;
$link-color: color("grey", "darken-1") ;
$badge-bg-color: $secondary-color !default;
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;
$button-floating-radius: 50% !default;
$card-padding: 20px !default;
$card-bg-color: #fff !default;
$card-link-color: color("orange", "accent-2") !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;
$collapsible-height: 3rem !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;
$chip-bg-color: #e4e4e4 !default;
$datepicker-weekday-bg: darken($secondary_color, 7%) !default;
$datepicker-date-bg: $secondary_color !default;
$datepicker-year: rgba(255, 255, 255, .4) !default;
$datepicker-focus: rgba(0,0,0, .05) !default;
$datepicker-selected: $secondary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%) !default;
$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$dropdown-item-height: 50px !default;
$roboto-font-path: "../fonts/roboto/" !default;
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin: 0 0 15px 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default;
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($secondary-color, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($secondary-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;
$switch-radius: 15px !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;
$navbar-font-color: #000 !default;
$navbar-brand-font-size: 2.1rem !default;
$sidenav-font-color: #444 !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding-right: 30px !default;
$sidenav-item-height: 64px !default;
$slider-bg-color: color('grey', 'base') !default;
$slider-bg-color-light: color('grey', 'lighten-2') !default;
$slider-indicator-color: color('green', 'base') !default;
$spinner-default-color: $secondary-color !default;
$tabs-underline-color: $primary-color-light !default;
$tabs-text-color: $primary-color !default;
$tabs-bg-color: #fff !default;
$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;
$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;
$off-black: rgba(0, 0, 0, 0.87) !default;
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;
$footer-bg-color: $primary-color !default;
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;
$progress-bar-color: $secondary-color !default;

@import "../vendor/Materialize/sass/components/global";
@import "../vendor/Materialize/sass/components/icons-material-design";
@import "../vendor/Materialize/sass/components/grid";
@import "../vendor/Materialize/sass/components/navbar";
@import "../vendor/Materialize/sass/components/roboto";
@import "../vendor/Materialize/sass/components/typography";
@import "../vendor/Materialize/sass/components/cards";
@import "../vendor/Materialize/sass/components/toast";
@import "../vendor/Materialize/sass/components/tabs";
@import "../vendor/Materialize/sass/components/tooltip";
@import "../vendor/Materialize/sass/components/buttons";
@import "../vendor/Materialize/sass/components/dropdown";
@import "../vendor/Materialize/sass/components/waves";
@import "../vendor/Materialize/sass/components/modal";
@import "../vendor/Materialize/sass/components/collapsible";
@import "../vendor/Materialize/sass/components/chips";
@import "../vendor/Materialize/sass/components/materialbox";
@import "../vendor/Materialize/sass/components/forms/forms";
@import "../vendor/Materialize/sass/components/table_of_contents";
@import "../vendor/Materialize/sass/components/sideNav";
@import "../vendor/Materialize/sass/components/preloader";
@import "../vendor/Materialize/sass/components/slider";
@import "../vendor/Materialize/sass/components/carousel";
@import "../vendor/Materialize/sass/components/date_picker/default";
@import "../vendor/Materialize/sass/components/date_picker/default.date";
@import "../vendor/Materialize/sass/components/date_picker/default.time";
@import "../vendor/font-abel/scss/abel.scss";
@import "../vendor/font-awesome/scss/font-awesome.scss";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "_base.scss";
@import "_layout.scss";
@import "_syntax-highlighting.scss";
