---
layout: default
---
<article class="black-text">
    <div class="section">
        <div class="container center-align">
            <div class="row">
                <h1 class="header">{{ page.title }}</h1>
            </div>
            <div class="row flow-text">
                {{ content }}
            </div>
            <div class="row">
                <div class="col s6 m6 l6">
                    <img src="{{page.member-1-avatar-url}}" class="circle responsive-img" width="150" />
                    <p>Joel Rocha</p>
                </div>
                <div class="col s6 m6 l6">
                    <img src="{{page.member-2-avatar-url}}" class="circle responsive-img" width="150" />
                    <p>Alana Maia</p>
                </div>
            </div>
        </div>
    </div>
</article>
