---
layout: default
---
<article class="black-text" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="section">
        <div class="container">
            <div class="row valign-wrapper center-align">
                <div class="col s10 m10 l4">
                    <h2 class="header">{{ page.title }}</h2>
                    <h4>
                        {% assign n = (page.rate | floor) %}
                        {% assign p = (page.rate | minus:n) %}
                        {% for i in (1..page.rate) %}<i class="fa fa-star"></i>{% endfor %}
                        {% if p != 0 %}<i class="fa fa-star-half-o"></i>{% endif %}
                    </h4>
                    <h5>
                        <i class="fa fa-calendar"></i> {{ page.date | date: "%d/%m/%y" }}
                    </h5>
                    <p class="flow-text">
                    {{ page.content }}
                    </p>
                    <ul class="collapsible hoverable left-align" data-collapsible="accordion">
                        {% if page.place-phone %}
                        <li>
                            <div class="collapsible-header">
                                <i class="fa fa-phone"></i> {{ page.place-phone }}
                            </div>
                        </li>
                        {% endif %}

                        {% if page.location %}
                        <li>
                            <div class="collapsible-header">
                                <i class="fa fa-map"></i> {{ page.location }}
                            </div>
                        </li>
                        {% endif %}

                        {% if page.city %}
                        <li>
                            <div class="collapsible-header">
                                <i class="fa fa-globe"></i>{{ page.city }} / {{ page.state}}
                            </div>
                        </li>
                        {% endif %}

                        <li>
                            <div class="collapsible-header">
                                <i class="fa fa-envira"></i> Café {{ page.coffee }}
                            </div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item">Região: {{page.coffee-region}}</li>
                                    <li class="collection-item">Fazenda: {{page.coffee-farm}}</li>
                                    <li class="collection-item">Produtor: {{page.coffee-producer}}</li>
                                    <li class="collection-item">Variedade: {{page.coffee-variety}}</li>
                                    <li class="collection-item">Altitude: {{page.coffee-altitude}}</li>
                                    <li class="collection-item">Notas: {{page.coffee-notes}}</li>
                                    <li class="collection-item">Processo: {{page.coffee-process}}</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header">
                                <i class="fa fa-coffee"></i> {{ page.price }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s2 m2 l1">
                    <ul>
                        {% if page.place-email %}
                        <li>
                            <h5>
                                <a href="mailto:{{ page.place-email }}"><i class="fa fa-email black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-site %}
                        <li>
                            <h5>
                                <a href="{{ page.place-site }}"><i class="fa fa-globe black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-facebook %}
                        <li>
                            <h5>
                                <a href="{{ page.place-facebook }}"><i class="fa fa-facebook black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-instagram %}
                        <li>
                            <h5>
                                <a href="{{ page.place-instagram }}"><i class="fa fa-instagram black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-twitter%}
                        <li>
                            <h5>
                                <a href="{{ page.place-twitter }}"><i class="fa fa-twitter black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-foursquare %}
                        <li>
                            <h5>
                                <a href="{{ page.place-foursquare }}"><i class="fa fa-foursquare black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                        {% if page.place-tripadvisor %}
                        <li>
                            <h5>
                                <a href="{{ page.place-tripadvisor }}"><i class="fa fa-tripadvisor  black-text"></i></a>
                            </h5>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col s12 m12 l7">
                    <div class="slider">
                        <ul class="slides">
                            <li><img src="{{ page.cover-url}}"></li>
                            {% if page.photo-1-url %}<li><img src="{{ page.photo-1-url}}"></li> {% endif %}
                            {% if page.photo-2-url %}<li><img src="{{ page.photo-2-url}}"></li> {% endif %}
                            {% if page.photo-3-url %}<li><img src="{{ page.photo-3-url}}"></li> {% endif %}
                            {% if page.photo-4-url %}<li><img src="{{ page.photo-4-url}}"></li> {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if page.location-map %}
            <div class="row">
                <div class="col s12 m12 s12 center-align">
                    {{page.location-map}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ page.photo-1-url }}"></img></div>
    </div>
</article>
