---
layout: default
---
<article class="black-text" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="parallax-container">
        <div class="parallax"><img src="{{ page.photo-1-url }}"></img></div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <h2 class="header">{{ page.title }}</h2>
            </div>
            <div class="row">
                {{content}}
            </div>

            <div class="row">
                <ul style="margin-left: 2px;">
                    <li><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}</li>
                    <li><i class="fa fa-map"></i> <a href="{{ page.location-url }}" class="black-text">{{ page.location }}</a></li>
                    <li><i class="fa fa-envira"></i> Café {{ page.coffee }}</li>
                    <li>{{ page.price }}</li>
                    <li>
                        {% for i in (1..page.rate)  %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                        {% assign n = (page.rate | floor) %}
                        {% assign p = (page.rate | minus:n) %}
                        {% if p != 0 %}
                        <i class="fa fa-star-half-o"></i>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="row">
                {{page.location-map}}
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ page.photo-2-url }}"></div>
    </div>
</article>
